.card {
    background-color: #ffff;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 450px;
    border-radius: 10px;
}

.card_image {
    width: 100%;
    max-width: 100%;
    height: 80%;
    max-height: 100%;
    margin: 0 auto;
}

.card_image img {
    display: block;
    margin: 0 auto;
    width: 50%;
}

.card_title {
    text-align: center;
    padding: 20px;
    height: 80px;
    max-height: 70px;
    min-height: 70px;
    margin: 0 auto;
    font-family: 'Roboto Condensed';
    font-size: 25px;
    font-weight: 700;
}

.diets_info {
    font-family: 'Roboto Condensed';
    font-size: 20px;
    font-weight: 400;
    margin: 0px auto;
    padding-bottom: 20px;
    max-height: 70px;
    min-height: 70px;
}