* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

body {
    background-color: #1e272e;
    width: 100%;
    min-height: 100vh;
    height: 100vh;
}

#cardContainer {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding-top: 20px;
    justify-content: center;
}

.entire_card {
    width: 23%;
    padding: 20px;
    padding-top: 20px;
    transition-duration: .3s;
    min-width: 315px;
    
}

.entire_card:hover {
    transform: scale(1.1);
    transition-duration: .3s;
    cursor: pointer;
}

/* NAVBAR */
.navBar {
    background-color: #ffa801;
}